<div class="span4">
<br />

<h2>Welcome to Statum</h2>

<p>Statum is a simple status tracker that exists because I am angry with every other simple status tracker.</p>

<br />

<% if @u %>
  <h4>Current User:</h4> <%= @u.name %> (<a href="mailto:<%= @u.email %>"><%= @u.email %></a>)
  <br /><br />
  <h3>List of current statuses</h3>
  <br />

  <% if @statuses %>
    <% @statuses.each do |status| %>
      <p><a href="/status/<%= status.id %>">Status <%= status.id %> from <%= status.created_at %></a></p>
    <% end %>
  <% end %>
<% end %>

<br />

</div>

<div class="span6">
<br />

<% if @u %>
  <h3>Add a new status</h3>

  <form class="well" action="/status/create" method="post">
    <label>Status<label>

    <textarea name="status" rows='20' class="input-xxlarge"></textarea>

    <br />

    <button type="submit" class="btn">Submit</button>
  </form>
<% else %>
<h3>To add a new status create a user or sign in with an existing user</h3>
<% end %>
<br />

</div>
