<div class="span4">
<br />

<div class="page-header">
  <h1>Welcome to Statum</h1>
</div>

<p>Statum is a simple status tracker that exists because I am angry with every other simple status tracker.</p>

<br />

<% if @u %>
  <h4>Current User:</h4> <br /><%= @u.name %> (<a href="mailto:<%= @u.email %>"><%= @u.email %></a>)
  <br /><br />
  <h3>Current Status Updates</h3>
  <br />

  <% if @statuses %>
    <% @statuses.each do |status| %>
      <p><a href="/status/<%= status.id %>"><%= status.created_at.strftime('%m/%d/%Y') %></a></p>
    <% end %>
  <% end %>
<% end %>

<br />

</div>

<div class="span6">
<br />
<br />

<% if @u %>
  <h3>Add a new status update</h3>

  <form class="well" action="/status/create" method="post">
    <label>Status<label>

    <textarea name="status" rows='20' class="input-xxlarge"></textarea>

    <br />

    <button type="submit" class="btn">Submit</button>
  </form>
<% else %>
<h3>To add a new status update log in.</h3>
<% end %>
<br />

</div>
