<div class="page-header">
  <h1>Status Update</h1>
</div>

<form class="well" action="/status/update" method="post">
  <input type="hidden" name="id" value="<%= @status.id %>">
  <textarea name="status" rows='20' class="input-xxlarge"><%= @status.status %></textarea><br />
  <label>Tags: <%= @status.tags.all.map { |t| "<a href='/status/tag/#{t.name}'>#{t.name}</a>" }.join(', ') %></label></br />
  <%= "Created: #{@status.created_at.strftime('%m/%d/%Y')}" %>
  <label class="checkbox">
    <input name="delete" type="checkbox"> Delete
  </label>
  <button type="submit" class="btn">Submit</button>
</form>

<h3>Comments</h3>
<br />

<% @comments.each do |comment| %>

<table class="table table-bordered">
      <thead>
      <tr>
        <th>Author</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td><%= comment.name %> (<a href="mailto:<%= comment.email %>"><%= comment.email %></a>)</td>
      <td><%= comment.created_at.strftime('%m/%d/%Y %I:%M%p') %></td>
    </tr>
    <tr>
      <td><%= comment.body %></td>
    </tr>
  </tbody>
</table>

<br />
<% end %>

<h3>Add a comment</h3>
<form class="well" action="/status/comment" method="post">
  <input type="hidden" name="id" value=<%= @status.id %>>
  <textarea name="body" rows='5' class="input-xxlarge"></textarea><br />
  <button type="submit" class="btn">Submit</button>
</form>
